body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
}

.navbar-green {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
}

.navbar-green .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.navbar-green .navbar-brand:hover {
    color: #e1ffeb;
}

#logout-button {
    background-color: #ffffff;
    color: #28a745;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

#logout-button:hover {
    background-color: #e1ffeb;
    color: #28a745;
}

#cards-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 5%;
}

#existing-categories-card {
    margin-top: 1px !important;
}

.card {
    flex: 1 1 48%;
    max-width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card-header {
    font-weight: bold;
    font-size: 1.4em;
    color: #28a745;
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card-body {
    margin-top: 5%;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-group-item {
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border: 1px solid #ffffff;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

#add-category-button {
    margin-top: 10%;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-category-button:hover {
    background-color: #218838;
}

#edit-button {
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#edit-button:hover {
    background-color: #218838;
}

#delete-button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#delete-button:hover {
    background-color: #474747;
}
